<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Регистрация</title>
	<style>

		body{
			background-color:LightCyan;
			text-align:center;
		}

		div{
			color:Maroon;
			background-color:DarkTurquoise;
			border-style:groove;
			border-radius:20px;
			display:inline-block;
			align:center;
			padding:20px;
			padding-top:1px;
		}
		A{
			color:Maroon;
		}
		A:hover{
			background-color:SkyBlue;
		}

		p{
			text-align:left;
		}
		form{
			text-align:left;
		}
		button:hover{
			background-color:DarkTurquoise;
		}

	</style>
</head>
<body>
<div>
	<p><a href = "../">На главную</a></p>
<!--	<p><a href="#" onclick="self.close()">Назад</a></p>-->

	<h2>Регистрация</h2>
	<form action="#" th:action="@{/demo/saveReg/}" th:object="${clientData}" method="POST">
		<h2>Введите регистрационные данные</h2>
		<table border="1">

			<tr>
				<td>
					Логин
				</td>
				<td>
					<input type="text" name="login" th:field="*{login}">
				</td>
			</tr>

			<tr>
				<td>
					Пароль
				</td>
				<td>
					<input type="password" name="password"  th:field="*{password}">
				</td>
			</tr>
			<tr>
				<td>
					Фамилия, Имя, Отчество
				</td>
				<td>
					<input type="text" name="fio" th:value="${fio}"  th:field="*{fio}">
				</td>
			</tr>
			<tr>
				<td>
					День рождения в формате "ГГГГ-ММ-ДД"
				</td>
				<td>
					<input type="text" name="birthDate" th:value="${birthDate}"  th:field="*{birthDate}">
				</td>
			</tr>

			<tr>
				<td>
					Номер телефона
				</td>
				<td>
					<input type="text" name="phone" th:value="${phone}"  th:field="*{phone}">
				</td>
			</tr>
			<tr>
				<td>
					Электронный адрес
				</td>
				<td>
					<input type="text" name="email" th:value="${email}"  th:field="*{email}">
				</td>
			</tr>
			<tr>
				<td>
					Паспортные данные
				</td>
				<td>
					<input type="text" name="passport" th:value="${passport}"  th:field="*{passport}">
				</td>
			</tr>
		</table>
		<br>
		<button name="submit">Сохранить</button>
	</form>
</div>
</body>
</html>