<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Портал</title>
</head>
<!--Thymeleaf modified page-->
<body>
<h1>
    <p align="center">Агрегатор кредитных предложений</p>
</h1>

<h2>
    <p align="center">   <a href="/demo/">Хочу подобрать кредит!</a></p><br><br>
</h2>
<h5>
    <p align="center"><a href="/admin">Я администратор</a></p><br><br>
</h5>

</body>
</html>