<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Show payment schedule</title>

</head>
<body>


    <form th:method="POST" th:action="@{/show/}" th:object="${getSchedule}">
        <table>
            <tr>
                <td>Сумма кредита</td>
                <td><input type="text" th:field="*{creditAmount}"></input> </td>
            </tr>
            <tr>
                <td>Срок кредита</td>
                <td><input type="text" th:field="*{creditTerm}"></td>
            </tr>
            <tr>
                <td>Процентная ставка</td>
                <td><input type="text" th:field="*{percentRate}"></td>
            </tr>
            <tr>
                <td>Аннуитетные платежи</td>
                <td>
                    <select th:field="*{annuityPayment}">
                        <option th:each = "payVar:${payVars}"
                                th:text="${payVar.getPayName()}"
                                th:value = "${payVar.isAnnuityPayment()}"></option>
                    </select>
                </td>
            </tr>

        </table>
        <button type="submit">посчитать</button>
    </form>

    <span id = "nullSchedule" th:text = "${nullSchedule}"></span>
    <div id = "altSchedule" style = "display: block"> Для расчета графика платежей заполните данные формы </div>
    <div id = "schedule">

        <script>
            nullSchedule = document.getElementById("nullSchedule").textContent;
            schedule = document.getElementById("schedule");
            altSchedule = document.getElementById("altSchedule");
            if(nullSchedule == "true"){
                schedule.style.display = "none";
                altSchedule.style.display = "block";
            }
            else {
                schedule.style.display = "block";
                altSchedule.style.display = "none";
            }

            document.getElementById("nullSchedule").style.display = "none";
        </script>

        <a href = "/show/file">Download file</a>

        <H3 style="text-align: center">График платежей</H3>
        <table>
            <tr>
                <td>Сумма</td>
                <td><span th:text = "${schedule.getCreditAmount()}"></span></td>
            </tr>
            <tr>
                <td>Срок</td>
                <td><span th:text = "${schedule.getCreditTerm()}"></span> месяцев.</td>
            </tr>
            <tr>
                <td>Процентная ставка</td>
                <td><span th:text = "${schedule.getPercentRate()}"></span></td>
            </tr>
            <tr>
                <td>Вид платежей Аннуитетный</td>
                <td><span th:text = "${schedule.isAnnuityPayment()}"></span></td>
            </tr>
            <tr>
                <td>Переплата по процентам</td>
                <td><span th:text = "${schedule.calculateTotalPercent()}"></span></td>
            </tr>
        </table>

        <table style="border-width: 2px; border-style: solid">
            <tr>
                <td style = "width: 300px">Дата платежа</td>
                <td style = "width: 300px">Основной долг</td>
                <td style = "width: 300px">Проценты</td>
                <td style = "width: 300px">Сумма платежа</td>
                <td style = "width: 300px">Остаток</td>
            </tr>

        </table>

        <table>
            <tr th:each = "pay:${schedule.getPayments()}">
                <td style = "width: 300px">
                    <span th:text = "${pay.getPaymentDate()}"></span>

                </td>
                <td style = "width: 300px"><span th:text = "${pay.getPrincipal()}"></span></td>
                <td style = "width: 300px"><span th:text = "${pay.getPercent()}"></span></td>
                <td style = "width: 300px"><span th:text = "${pay.getPayment()}"></span></td>
                <td style = "width: 300px"><span th:text = "${pay.getBalance()}"></span></td>
            </tr>

        </table>

    </div>
</body>
</html>