<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Банк</title>
</head>

<body>
<h1>Банк: <span th:text="${bank.bankName}"></span></h1>
<!--Thymeleaf modified page-->
<table border="1">
    <tr>
        <td>Название банка</td>
    </tr>
    <tr>
        <td th:text="${bank.bankName}"/></td>

        <td><a href="/bankss">Cancel</a></td>
        <td><a th:href="@{/deleteBank/{id}(id=${bank.id})}">Delete</a></td>

    </tr>

</table>
<br><br>
<%--<a href=addNewClient>Add new field</a>--%>

<h2>Введите данные, чтобы отредактировать банк</h2>

<form action="@{/bankss/${id}(id=${bank.id})}" method="POST">
    <table bordercolor="white" border="1" width="40%">

        <tr>
            <td><label>Название банка</label></td>
            <td><input type="text" name="bankName"></td>
        </tr>

    </table><br>

    <input type="submit" value="Сохранить">

</form>

</body>
</html>
