<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Клиент</title>
</head>

<body>
<p><a href="#" onclick="javascript:history.back();return false" title="Назад">Назад</а></p>
<h1>Клиент: <span th:text="${client.fullName}"></span></h1>
<!--Thymeleaf modified page-->
<table border="1">
    <tr>
        <td>Полное имя</td>
        <td>Дата рождения</td>
        <td>Номер телефона</td>
        <td>Электронная почта</td>
        <td>Серия/номер паспорта</td>
    </tr>

    <tr>
        <td th:text="${client.fullName}"/></td>
        <td th:text="${client.birthDate}"/></td>
        <td th:text="${client.phoneNumber}"/></td>
        <td th:text="${client.email}"/></td>
        <td th:text="${client.passportSeriesNum}"/></td>
    </tr>
</table>
<br><br>


<h2>Введите данные, чтобы отредактировать клиента</h2>

<form action th:href="@{/clients/${id}(id=${client.id})}" method="POST">

    <table bordercolor="white" border="1" width="40%">
        <tr>
            <td> <label>Полное имя</label></td>
            <td><input type="text" name="fullName"></td>
        </tr><br>
        <tr>
            <td><label>Дата рождения</label></td>
            <td><input type="text" name="birthDate"></td>
        </tr><br>
        <td> <label>Номер телефона</label></td>
        <td> <input type="text" name="phoneNumber"></td>
        <tr>
            <td>  <label>Электронная почта</label></td>
            <td>  <input type="text" name="email"></td>
        </tr><br>
        <tr>
            <td>  <label>Серия/номер паспорта</label></td>
            <td>  <input type="text" name="passportSeriesNum"></td>
        </tr>
    </table>
    <br>

    <input type="submit" value="Сохранить">

</form>
<p>
    <button onclick="window.location.href = '/clients';">  Отмена </button>
</p>

</body>
</html>
