<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Кредиты</title>
</head>
<body>
<h1>Список кредитных предложений</h1>
<!-- Thymeleaf modified page -->
<table border="1">
    <tr>
        <td>id банка</td>
        <td>Тип предложения</td>
        <td>Максимальная сумма</td>
        <td>Максимальный период</td>
        <td>Процентная ставка</td>
    </tr>

    <tr th:each="credit : ${creditList}">
        <td th:text="${credit.bankId}"/></td>
        <td th:text="${credit.productTypeId}"/></td>
        <td th:text="${credit.maxSum}"/></td>
        <td th:text="${credit.maxPeriod}"/></td>
        <td th:text="${credit.percentRate}"/></td>
        <td><a th:href="@{/credits/{id}(id=${credit.id})}">Edit</a></td>
    </tr>
</table>
<br><br>

<a href="/admin">Назад</a><br><br>

<h2>Введите данные, чтобы добавить новое кредитное предложение</h2>

<form action="/credits" method="POST">
    <table bordercolor="white" border="1" width="40%">
        <tr >
            <td><label>id банка</label></td>
            <td><input type="text" name="bankId"></td>
        </tr><br>
        <tr >
            <td><label>Тип предложения</label></td>
            <td><input type="text" name="productTypeId"></td>
        </tr><br>
        <tr>
            <td><label>Максимальная сумма</label></td>
            <td><input type="text" name="maxSum"></td>
        </tr><br>
        <tr>
            <td><label>Максимальный период</label></td>
            <td><input type="text" name="maxPeriod"></td>
        </tr><br>
        <tr>
            <td><label>Процентная ставка</label></td>
            <td><input type="text" name="percentRate"></td>
        </tr>
    </table><br>
    <input type="submit" value="Сохранить">
</form>

</body>
</html>
