<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Кредит</title>
</head>

<body>
<p><a href="#" onclick="javascript:history.back();return false" title="Назад">Назад</а></p>
<h1>Кредит: <span th:text="${credit.id}"></span></h1>
<!--Thymeleaf modified page-->
<table border="1">
    <tr>
        <td>id банка</td>
        <td>Тип предложения</td>
        <td>Максимальная сумма</td>
        <td>Максимальный период</td>
        <td>Мин. процентная ставка</td>
        <td>Макс. процентная ставка</td>
    </tr>

    <tr>
        <td th:text="${credit.bankId}"/>
        </td>
        <td th:text="${credit.productTypeId}"/>
        </td>
        <td th:text="${credit.maxSum}"/>
        </td>
        <td th:text="${credit.maxPeriod}"/>
        </td>
        <td th:text="${#numbers.formatDecimal(credit.minpercentRate*100, 1, 2)}"/>
        </td>
        </td>
        <td th:text="${#numbers.formatDecimal(credit.maxpercentRate*100, 1, 2)}"/>
        </td>

    </tr>
</table>
<br><br>


<h2>Введите данные, чтобы отредактировать кредитное предложение</h2>

<form action th:href="@{/credits/${id}(id=${credit.id})}" method="POST">
    <table bordercolor="white" border="1" width="40%">
        <tr>
            <td><label>id банка</label></td>
            <td><input type="text" name="bankId"></td>
        </tr>
        <br>
        <tr>
            <td><label>Тип предложения</label></td>
            <td><input type="text" name="productTypeId"></td>
        </tr>
        <br>
        <tr>
            <td><label>Максимальная сумма</label></td>
            <td><input type="text" name="maxSum"></td>
        </tr>
        <br>
        <tr>
            <td><label>Максимальный период</label></td>
            <td><input type="text" name="maxPeriod"></td>
        </tr>
        <br>
        <tr>
            <td><label>Мин. процентная ставка</label></td>
            <td><input type="text" name="minpercentRate"></td>
        </tr>
   	<tr>
            <td><label>Макс. процентная ставка</label></td>
            <td><input type="text" name="maxpercentRate"></td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Сохранить">

</form>

<p>
    <button onclick="window.location.href = '/credits';"> Отмена</button>
</p>


</body>
</html>
